@font-face {
    font-family: "Stencil";
    src: url('./assets/fonts/far.woff2') format('woff2'),
         url('assets/fonts/far.woff') format('woff');
}
:root {
    --gradient: linear-gradient(to top, #ffd194, #70e1f5);
    --dark: #0C090D;
    --brickred: #D1495B;
    --darkpurple: #2D1E2F;
    --babypowder: #FFFDF7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
}
html {
    background: var(--gradient);
    background-attachment: fixed;
}
body {
    display: grid;
    grid-auto-rows: max-content;
    font-family: sans-serif;
    height: 100vh;
}
h1 {
    font-family: "Stencil";
    padding-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-align: center;
    font-weight: 100;
}

/* The entire form section */
.formContainer {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    grid-auto-rows: max-content;
}
.formDiv {
    display: grid;
    grid-auto-rows: max-content;
}
form {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
    max-width: 40rem;
}
form .playerName {
    place-self: center;
    font-size: 1.5rem;
    display: grid;
    font-weight: bold;
    grid-auto-flow: row;
    text-align: center;
}

.playerName input {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
}

fieldset {
    padding: 1rem 0;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    border: 2px solid var(--darkpurple);
    margin: 1rem 0.5rem 0rem 0.5rem;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0rem 0.1rem 0.3rem var(--dark);
    font-size: 1.1rem;
}
fieldset legend {
    padding: 0 0.5rem;
    color: black;
    font-family: 'Stencil';
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    font-weight: 100;
}
fieldset label {
    display: grid;
    grid-auto-flow: column;
    padding: 0.5rem;
    gap: 0.5rem;
    place-items: center;
}
fieldset input,
fieldset select {
    padding: 0.25rem 0;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.5rem;
}
fieldset input:hover,
fieldset select:hover,
form button:hover {
    cursor: pointer;
}

form button {
    display: grid;
    margin: auto;
    margin-top: 1rem;
    width: 25rem;
    max-width: 80%;
    padding: 1rem;
    color: var(--babypowder);
    background-color: var(--darkpurple);
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 0.25rem var(--dark);
    border-radius: 1rem;
}
/* Error message if ship can't be placed */
.shipPlacementDisplay {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(209, 73, 91, 0.5);
    border: 2px dashed var(--brickred);
    border-radius: 1rem;
    padding: 1rem;
}

/* Section where game is played */
.gameplay {
    margin-top: 1rem;
    display: none;
    place-items: center;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    column-gap: 2rem;
    row-gap: 1rem;
}

.announcements {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    background-color: var(--darkpurple);
    color: var(--babypowder);
    padding: 1rem;
    width: 50%;
    max-width: 20rem;
    text-align: center;
    border-radius: 2rem;
}

.playerSection,
.enemySection {
    display: grid;
    grid-template-rows: max-content 1fr;
    place-content: center;
    place-items: center;
    grid-column: 1 / -1;
    gap: 0.5rem;
}

.active {
    border: 1px dashed var(--darkpurple);
}

/* Styles for all boards */
.boardContainer {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
}

.verticalNumbers {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(10, 2rem);
    place-items: center;
    grid-column: 1;
}
.horizontalNumbers {
    display: grid;
    grid-column: 2;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 2rem);
    place-items: center;
}
.player .verticalNumbers {
    grid-template-rows: repeat(10, 1.5rem);
    font-size: 1rem;
}
.player .horizontalNumbers {
    grid-template-columns: repeat(10, 1.5rem);
    font-size: 1rem;
}
.board {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.board > div {
    aspect-ratio: 1;
    border: 1px solid var(--dark);
}
.enemy .board > div:hover {
    cursor: pointer;
}

.occupied {
    background-color: var(--darkpurple);
}

.hit {
    background: url('./assets/hit-red-transparent.png');
    background-size: contain;
}

.missed {
    background-color: blue;
}