@font-face {
    font-family: "Stencil";
    src: url('./assets/fonts/far.woff2') format('woff2'),
         url('assets/fonts/far.woff') format('woff');
}
:root {
    --gradient: linear-gradient(to top, #ffd194, #70e1f5);
    --dark: #0C090D;
    --brickred: #D1495B;
    --darkpurple: #2D1E2F;
    --babypowder: #FFFDF7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
}
html {
    background: var(--gradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: grid;
    grid-auto-rows: max-content;
    font-family: sans-serif;
}
h1 {
    font-family: "Stencil";
    padding-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-align: center;
    font-weight: 100;
}

form {
    display: grid;
    width: 100vw;
}

.formDiv,
.formContainer {
    display: grid;
}

form .playerName {
    place-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    grid-auto-flow: row;
    text-align: center;
    margin-bottom: 1rem;
}

.playerName input {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

fieldset {
    display: grid;
    justify-self: center;
    max-width: 30rem;
    padding: 0.75rem 2rem;
    grid-template-columns: repeat(2, max-content) max-content;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    font-size: 1.1rem;
    background-color: rgba(255,255,255,0.3);
    border: 2px solid var(--darkpurple);
    border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.3rem var(--dark);
}

fieldset legend {
    padding: 0 0.5rem;
    color: black;
    font-family: 'Stencil';
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    font-weight: 100;
}

fieldset label {
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    place-items: center;
}

fieldset input {
    padding: 0.25rem 0;
    min-width: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.5rem;
}

fieldset input:hover,
fieldset select:hover,
form button:hover {
    cursor: pointer;
}

form button {
    display: grid;
    justify-self: center;
    width: 25rem;
    max-width: 80%;
    padding: 1rem;
    color: var(--babypowder);
    background-color: var(--darkpurple);
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 0.25rem var(--dark);
    border-radius: 1rem;
}
/* Error message if ship can't be placed */
.shipPlacementDisplay {
    margin: 1rem;
    max-width: 30rem;
    justify-self: center;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(209, 73, 91, 0.5);
    border: 2px dashed var(--brickred);
    border-radius: 1rem;
    padding: 1rem;
}
.shipPlacementSpan {
    font-weight: bold;
}

/* Section where game is played */
.gameplay {
    margin-top: 1rem;
    width: 100vw;
    height: 100%;
    display: none;
    place-items: center;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    column-gap: 2rem;
    row-gap: 1rem;
}

.announcements {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    background-color: var(--darkpurple);
    color: var(--babypowder);
    padding: 1rem;
    width: 80%;
    max-width: 30rem;
    text-align: center;
    border-radius: 2rem;
}

.playerSection,
.enemySection {
    display: grid;
    grid-template-rows: max-content 1fr;
    place-content: center;
    place-items: center;
    grid-column: 1 / -1;
    gap: 0.5rem;
}

.inactive {
    opacity: 0.5;
}

/* Styles for all boards */
.boardContainer {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
}

.verticalNumbers {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(10, 1.5rem);
    font-size: 1rem;
    place-items: center;
    grid-column: 1;
}
.horizontalNumbers {
    display: grid;
    grid-column: 2;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 1.5rem);
    font-size: 1rem;
    place-items: center;
}
.player .verticalNumbers {
    grid-template-rows: repeat(10, 1rem);
    font-size: 0.8rem;
}
.player .horizontalNumbers {
    grid-template-columns: repeat(10, 1rem);
    font-size: 0.8rem;
}
.board {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}
.board > div {
    aspect-ratio: 1;
    border: 1px solid var(--dark);
}
.enemy .board > div:hover {
    cursor: pointer;
}

.occupied {
    background-color: var(--darkpurple);
}

.hit {
    background: rgb(33,124,241);
    background: radial-gradient(circle, rgb(241, 33, 33) 5%, rgba(30,30,30,1) 100%);
}

.miss {
    background: rgb(33,124,241);
    background: radial-gradient(circle, rgba(33,124,241,1) 5%, rgba(208,247,255,1) 100%);
}

.volume {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

@media (min-width: 760px) {
    .gameplay {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        gap: 2rem;
    }

    .enemySection {
        grid-column: 1;
        grid-row: 2 / -1;
    }

    .playerSection {
        grid-column: 2;
        grid-row: 2 / -1;
    }

    .verticalNumbers,
    .player .verticalNumbers {
        grid-template-rows: repeat(10, 2rem);
        font-size: 1.3rem;
    }
    .horizontalNumbers,
    .player .horizontalNumbers {
        grid-template-columns: repeat(10, 2rem);
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    .verticalNumbers,
    .player .verticalNumbers {
        grid-template-rows: repeat(10, 4rem);
        font-size: 1.3rem;
    }
    .horizontalNumbers,
    .player .horizontalNumbers {
        grid-template-columns: repeat(10, 4rem);
        font-size: 1.3rem;
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    .gameplay {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        gap: 1rem;
    }

    .enemySection {
        grid-column: 1;
        grid-row: 2 / -1;
    }

    .playerSection {
        grid-column: 2;
        grid-row: 2 / -1;
    }

    .verticalNumbers,
    .player .verticalNumbers {
        grid-template-rows: repeat(10, 1rem);
        font-size: 1rem;
    }
    .horizontalNumbers,
    .player .horizontalNumbers {
        grid-template-columns: repeat(10, 1rem);
        font-size: 1rem;
    }
}