@font-face {
    font-family: "Stencil";
    src: url('./assets/fonts/far.woff2') format('woff2'),
         url('assets/fonts/far.woff') format('woff');
}
:root {
    --gradient: linear-gradient(to top, #ffd194, #70e1f5);
    --dark: #0C090D;
    --brickred: #D1495B;
    --darkpurple: #2D1E2F;
    --babypowder: #FFFDF7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
}
html {
    background: var(--gradient);
    background-attachment: fixed;
}
body {
    display: grid;
    grid-auto-rows: max-content;
    font-family: sans-serif;
    height: 100vh;
}
h1 {
    font-family: "Stencil";
    padding-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-align: center;
}
h2 {
    text-align: center;
}

/* The entire form section */
.formContainer {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    grid-auto-rows: max-content;
}
form {
    display: grid;
    grid-template-rows: 1fr max-content max-content 1fr max-content;
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
}
form .playerName {
    place-self: center;
    font-size: 1.5rem;
    display: grid;
    font-weight: bold;
    grid-auto-flow: row;
    text-align: center;
}
.playerName input {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.formDiv {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content) 1fr;
    grid-auto-rows: max-content;
    background-color: var(--darkpurple);
    padding: 0rem 0.5rem;
    column-gap: 1rem;
}
.formDiv p {
    color: var(--babypowder);
    font-weight: bold;
    padding: 1rem 0rem;
}
.formInputs {
    display: grid;
    grid-auto-flow: row;
    grid-column: 1 / -1;
}
.formInputs label {
    display: grid;
    font-size: 1.3rem;
    color: var(--babypowder);
    font-style: italic;
    grid-template-columns: 1fr repeat(3, 2rem) 1fr;
    grid-template-rows: max-content;
    padding-bottom: 0.5rem;
    gap: 1rem;
}
.formInputs input,
.formInputs select {
    font-size: 1.2rem;
    text-align: center;
}
form button {
    display: grid;
    margin: auto;
    width: 25rem;
    max-width: 80%;
    padding: 1rem;
    color: var(--babypowder);
    background-color: var(--darkpurple);
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 0.25rem var(--dark);
    border-radius: 1rem;
}
/* Error message if ship can't be placed */
.shipPlacementDisplay {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(209, 73, 91, 0.5);
    border: 2px dashed var(--brickred);
    border-radius: 1rem;
    padding: 1rem;
}

/* Section where game is played */
.gameplay {
    display: none;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0.5rem;
    margin: 0.5rem;
}

.playerSection,
.enemySection {
    display: grid;
    grid-template-rows: max-content 1fr;
    place-items: center;
}

.playerSection.active,
.enemySection.active {
    border: 1px solid red;
}

/* Styles for all boards */
.boardContainer {
    display: grid;
    padding: 1rem;
    width: 100%;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
}
.verticalNumbers {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(10, 1fr);
    place-items: center;
    padding-right: 0.5rem;
    grid-column: 1;
}
.horizontalNumbers {
    display: grid;
    grid-column: 2;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 1fr);
    place-items: center;
    padding-bottom: 0.5rem;
}
.board {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid var(--dark);
}
.board > div {
    aspect-ratio: 1;
    border: 1px solid var(--dark);
}
.board > div:hover {
    cursor: pointer;
}
.horizontalNumbers p,
.verticalNumbers p {
    font-size: 1.3rem;
}